footer {
    margin-top: 100px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.error {
    background-color: purple;
    color: antiquewhite;
    font-weight: bolder;
}

.center-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
